GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=your_random_string_here
NEXTAUTH_URL=http://localhost:3000
MONGODB_URI=
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# for GitHub Integration 
GITHUB_ID=
GITHUB_SECRET=